body {
  width: 1200px;
  margin: auto;
  background-color: beige;
  border: 1px solid black
}

h1 {
  text-align: center;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;

  section {
    border: 1px solid darkblue;
    padding: 20px;
    border-radius: 5px;
    background-color: lightblue;

    &:hover {
      background-color: rgb(158, 195, 208);
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  /* center the form */
  width: 300px;
  margin: 20px auto;
  border: 1px solid black;
  border-radius: 5px;
  padding: 12px;

  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.game-card {
  position: relative;
}

.delete-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  background: red;
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
}

.delete-btn:hover {
  background: darkred;
}